<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thinksea.Net.FileUploader_AspNetCoreDemo</title>
    <script type="text/javascript" charset="utf-8" src="https://lib.68suo.com/js/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://lib.68suo.com/js/jsext/1.0.9/jsext.min.js"></script>
    <script type="text/javascript" src="https://lib.68suo.com/js/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="Thinksea.Net.FileUploader.js" asp-append-version="true"></script>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
