@page
<html>
<head>
    <title></title>
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">此项目仅用于管理组件“Thinksea.Net.FileUploader”的 javascript 版本</h2>
    </div>
</body>
</html>
