@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript 上传大文件示例 - Thinksea.Net.FileUploader_AspNetCoreDemo</title>
    <script type="text/javascript" charset="utf-8" src="lib/jsext-1.7.1/jsext.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="Thinksea.Net.FileUploader.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf-8" src="JavascriptUploadFileDemo.js" asp-append-version="true"></script>
</head>
<body>
    <div id="ctl5" class="form-group">
        <label>批量上传文件</label>
        <button type="button" class="btn btn-default" data-clickupload="true" data-dragoverupload="true">拖入可上传</button>
        <div data-dragoverupload="true">
            <div class="clearfix fileinsertmark"></div>
        </div>
        <input type="file" multiple="multiple" class="fileUpload" style="visibility:hidden; width:0px; height: 0px;" />
        <input type="hidden" name="fileUrls" />
    </div>
    <script type="text/javascript">
        JavascriptUploadFileDemo.init();
    </script>
</body>
</html>
