<?xml version="1.0" encoding="utf-8" ?> 
<Menu DefaultExpand="true">
	<MenuGroup ID="menu1" Text="菜单组标题1">
		<MenuItem ID="menu11" Text="菜单项1" Target="_blank" Access="pc;pb"></MenuItem>
		<MenuItem ID="menu12" Text="菜单项2" Target="_blank"></MenuItem>
		<MenuItem ID="menu13" Text="菜单项3" URL="" Target="_blank"></MenuItem>
		<MenuItem ID="menu14" Text="菜单项4" URL="usermanage.aspx" Target="_blank" Access="00000000-0000-0000-0000-000000000001"></MenuItem>
		<MenuItem ID="menu15" Text="菜单项5" URL="logmanage.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu16" Text="菜单项6" URL="detect.aspx" Target="_blank" Access="00000000-0000-0000-0000-000000000003"></MenuItem>
		<MenuItem ID="menu17" Text="菜单项7" URL="menumanage.aspx" Target="_blank" Access="00000000-0000-0000-0000-000000000001"></MenuItem>
	</MenuGroup>
	<MenuGroup ID="menu2" Text="菜单组标题2" Expand="false">
		<MenuItem ID="menu21" Text="菜单项1" URL="useradd.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu22" Text="菜单项2" URL="usermanage.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu23" Text="菜单项3" URL="logmanage.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu24" Text="菜单项4" URL="detect.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu25" Text="菜单项5" URL="menumanage.aspx" Target="_blank" Access="00000000-0000-0000-0000-000000000001"></MenuItem>
	</MenuGroup>
	<MenuGroup ID="menu3" Text="菜单组标题3" Expand="true">
		<MenuItem ID="menu31" Text="菜单项1" URL="useradd.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu32" Text="菜单项2" URL="usermanage.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu33" Text="菜单项3" URL="logmanage.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu34" Text="菜单项4" URL="detect.aspx" Target="_blank"></MenuItem>
		<MenuItem ID="menu35" Text="菜单项5" URL="menumanage.aspx" Target="_blank" Access=""></MenuItem>
		<MenuItem ID="menu36" Text="菜单项6" URL="menumanage.aspx" Target="_self" Access=""></MenuItem>
	</MenuGroup>
</Menu>
